<h1>Herzlichen Willkommen Welt</h1>
<p>Ich heisse Mustafa. Ich komme aus Deutschland. Ich gebore im Homburg am Saar 
und wachse ich vor zehn Jahren da drüben. Meine Eltern kommen aus Bangladesh, 
dass meine Nationalität Bangale ist. Ich spreche Deutsche, Bangale und Anglich.</p>